.dropdown-menu {
  position: fixed !important;
  display: inline-block;
  z-index: 10;
  right: 15%;
}

.dropdown-btn {
width: 48px;
height: 48px;
background-color: gray;
border-radius: 100%;
border: 1px solid #8d9399;
}

.dropdown-btn::before {
content: "";
position: absolute;
top: 6px;
left: 14px;
width: 20px;
height: 6px;
border-top: 20px double #000;
border-bottom: 8px solid #000;
}

.dropdown-menu:hover .dropdown-content {
display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 100px;
  max-height: 196px;
  overflow-x: hidden;
  scrollbar-width: thin;
  border-radius: 10%;
  background-color: white;
  border: 1px solid gray;
}

.dropdown-content a {
  display: block;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  border-bottom: 1px solid black;
}
